.Rproj.user
.Rhistory
.RData
.Ruserdata
# inst/doc
.DS_Store
.Rbuildignore

# R build artifacts
*.tar.gz
*.Rcheck
..Rcheck
*.Rcheck/
..Rcheck/

# Ignore all folders under data-raw
data-raw/*/
forCRAN.md
/doc/
/Meta/

#pkgdown site
site/
docs/